<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Control Panel</h1>
    <div class="table_component" role="region" tabindex="0">
        <table>
            <thead>
            <tr>
                <th>Name<br></th>
                <th>Status<br></th>
                <th>Wake<br></th>
            </tr>
            <tr>
                <th>Media Server</th>
                <th>
                    <div th:switch="${awake}">
                        <p th:case="true">Media server is on</p>
                        <div th:case="false">
                            <div th:switch="${isWaking}">
                                <p th:case="true">Media server is waking up</p>
                                <p th:case="false">Media server is off</p>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <form th:action="@{/control-panel}" method="post">
                        <button th:disabled="${awake or  isWaking}" type="submit">Wake</button>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="margin-top:8px"></div>
    </div>
    <div class="center">
        <button onclick="window.location.href='/'">Back Home</button>
    </div>
</body>
<footer>

</footer>
</html>