<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Control Panel</h1>
    <div class="container">
        <div class="center">
            <p th:if="${awake}">Media server is on</p>
            <p th:if="${!awake}">Media server is off</p>
            <form th:if="${!awake}" th:action="@{/control-panel}" method = "post">
                <button type = "submit" class="serverBtn" >Wake media server</button>
            </form>
        </div>
    </div>
</body>
<footer>
    <div class="center">
        <button onclick="window.location.href='/'">Back Home</button>
    </div>
</footer>
</html>